body {
    font-family: 'Segoe UI', sans-serif;
    margin-left: 0;
    background: #000000;
}

canvas {
    position: relative;
    left: 500px;
    top: 150px;
    border :1px dotted red;
	background:#ffffff;
}