body {
    font-family: 'Segoe UI', sans-serif;
    margin-left: 0;
    background: #000000;
}

canvas {
    position: absolute;
    left: 200px;
    top: 150px;
    border :1px dotted red;
	background:#ffffff;
}

#CircleAppend {
	position: absolute;
	left:1100px;
	top: 150px;
    width:400px;
    height:250px;
    background:#ffffff;
    display:inline-block;
    line-height:50px;
}

#PolygonAppend {
	position: absolute;
	left:1100px;
	top: 500px;
    width:400px;
    height:250px;
    background:#ffffff;
    display:inline-block;
    line-height:50px;
}

#test {
    position: absolute;
	left:800px;
	top: 40px;
    background:#ffffff;
    display:inline-block;
}